PORT=8888

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGDATABASE=postgres
PGPASSWORD=1
PGSSLMODE=disable

DATABASE_URL=postgres://postgres:1@localhost:5432/postgres?sslmode=disable

FRONTEND_URL=http://localhost:5173